# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# from ChampSim
.csconfig/
_configuration.mk

**/__pycache__/
*.pyc

bin/

**/*.o
**/*.d

test/000-test-main

tracer/pin/obj-intel64/

vcpkg_installed/

**/_build
**/_doxygen

results/
traces/

.vscode/